/* ========= general.css ========= */

.upload-container,
.filter-container {
  margin-bottom: 1.2rem;
}

#filter-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #bbb;
  border-radius: 6px;
  width: 240px;
}

.keywords-cloud {
  margin: 10px 0;
  text-align: center;
}

.keywords-cloud span {
  margin: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.keywords-cloud span:hover {
  color: #ff6600;
}


.upload-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; 
  text-align: center;
  gap: 1.5rem;
}

.upload-container input[type="file"] {
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  cursor: pointer;
}
